<?xml version="1.0" ?>
<robot name="W3-600B" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="/home/gilmar/Desktop/seer/W3-600B-model/W3-600B/urdf/materials.xacro" />
<xacro:include filename="/home/gilmar/Desktop/seer/W3-600B-model/W3-600B/urdf/W3-600B.trans" />
<xacro:include filename="/home/gilmar/Desktop/seer/W3-600B-model/W3-600B/urdf/W3-600B.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.011167054330462407 0.015936091459711685 -1.2948755400834599e-05" rpy="0 0 0"/>
    <mass value="24.024837973051586"/>
    <inertia ixx="0.813692" iyy="2.987829" izz="2.21895" ixy="0.004893" iyz="-4e-06" ixz="-4e-05"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="/home/gilmar/Desktop/seer/W3-600B-model/W3-600B/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="/home/gilmar/Desktop/seer/W3-600B-model/W3-600B/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
