<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="imu_gazebo" params="">
    <link name="imu_link">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia
          ixx="1e-6" ixy="0.0"  ixz="0.0"
          iyy="1e-6" iyz="0.0"
          izz="1e-6"/>
      </inertial>
    </link>
    
    <!-- Junta fixa do IMU ao corpo -->
    <joint name="imu_joint" type="fixed">
      <parent link="base_link"/>
      <child link="imu_link"/>
      <origin xyz="0 0.1 0" rpy="1.57 0 0"/> <!-- posição relativa -->
    </joint>

    <gazebo reference="imu_link">
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <!-- <visualize>true</visualize> -->
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>